.name {

    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 100px;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    border-color: #3498db;
    margin: 10px;
    background-image: -webkit-linear-gradient(45deg, #3498db 50%, transparent 50%);
    background-image: linear-gradient(45deg, #3498db 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 200ms ease-in-out;

}

button:hover {
    letter-spacing: 0.25em;
    background-position: 0;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 10px #3498db;
}




